<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<baseMap>https://services.arcgisonline.com/ArcGIS/rest/services/ESRI_StreetMap_World_2D/MapServer</baseMap>
	<vehicleEconomyData>com/esri/apl/mpd_mvc/assets/data/vehicles.xml</vehicleEconomyData>
	<gasPriceData>com/esri/apl/mpd_mvc/assets/data/PET_PRI_GND_A_EPM0_PTE_DPGAL_W.xls</gasPriceData>	
<!--	<gasPriceData>http://www.eia.gov/oog/ftparea/wogirs/xls/pswrgvwreg.xls</gasPriceData>-->
<!--	<httpProxy>http://fjord/proxy/proxy.ashx</httpProxy>-->
<!-- 	<svcAreaGP>http://scenario:6080/arcgis/rest/services/MPGMap/MPGServiceArea/GPServer/MPGServiceArea</svcAreaGP> -->
	<svcAreaGP>https://maps.esri.com/apl22/rest/services/SvcAreaByDistWGS/MPGServiceArea/GPServer/MPGSvcArea</svcAreaGP>
	<gasRegionQuery>https://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Network/USA/MapServer/121/query</gasRegionQuery>
</settings>